.home-container {
  padding: 10px;
  font-size: 22px;
  text-align: center;
}

.home-image-container {
  background-color: #00285f;
  padding: 0 28px;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}

.home-image-container h1 {
  font-size: 22px;
  margin-top: 35px;
  margin-bottom: 13px;
}

.home-image-container p {
  font-size: 14px;
  padding-bottom: 51px;
}

.home-image-container svg {
  width: 100%;
  margin-top: 62px;
  height: auto;
}

.home-content-container {
  border-radius: 10px;
  color: white;
  background-color: #ededed;
  margin-top: 21px;
  padding-top: 28px;
}

.home-content-container {
  border-radius: 10px;
}

.home-content-container p {
  font-size: 18px;
  color: #585858;
  padding-top: 7px;
  padding-bottom: 25px;
}

.btn-home-catalog {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  padding: 12px 37px;
  background-color: #00285f;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .home-image-container svg {
    padding: 0 101px;
  }

  .home-image-container h1 {
    font-size: 36px; 
  }

  .home-image-container p {
    font-size: 20px;
    padding: 0 41px 41px 41px;
  }

  .home-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
  }

  .home-content-container p {
    padding-left: 20px
  }
}
