.main-nav {
  padding-left: 50px;
  min-height: 70px;
}

.nav-logo-text h4 {
  font-size: 24px;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 170px;
  justify-content: space-between;
}

.nav-itens {
  display: flex;
  justify-content: flex-end;
}

.main-menu a.active {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .nav-itens {
    padding: 0 150px 0 150px;
  }

  .nav-logo-text h4 {
    padding-left: 150px;
  }
}
